body
{
margin-left:0px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
}
.header
{
	background:#aacdef;
	height:100px;
	
		font-family:verdana;
}
.search
{
	
	height:80px;
	max-width:600px;
    margin-bottom:0px;
	padding-top:10px;
	padding-left:5px;
	
	

}

.nav
{
	

	 background:#abbdef;
	max-width:1600px;
    max-height:275px;
	margin-top:30px;
	padding-top:5px;
	padding-left:0px;
	padding-bottom:50px;
	color:#5F9EA5;
}
.wrapper
{   padding-left:90px;
	padding-right:10px;
	padding-bottom:5px;
	padding-top:70px;
	
	 background:#EFE6F9;
	 height:800px;
}
.col1
{
	float:left;
	 padding-left:60px;
	padding-right:10px;
	padding-bottom:5px;
	padding-top:50px;
	border: 1px solid #73a6c9 ;
	 background:#b6d0e2;
	 height:180px;
	 width:300px;
	 border-radius: 20px 20px 20px 20px;
	 box-shadow:8px 8px 8px #505258 ;
	
}
.row1
{
	
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
	padding-top:20px;
	border-radius: 20px 20px 20px 20px;
	 background:#73a6c9;
	 height:40px;
	 width:200px;
	transition:1s;
}
.row1:hover
{
	
	-ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    transform: rotate(15deg);
	transition:1s;
}
.row2
{
	margin-top:30px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
	padding-top:20px;
	border-radius: 20px 20px 20px 20px;
	 background:#73a6c9;
	 height:40px;
	 width:200px;
	transition:1s;
	
}
.row2:hover
{
	
	-ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
    transform: rotate(-15deg);
	transition:1s;
}
.col2
{
	float:left;
	 padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
	padding-top:20px;
	margin-left:60px;
	border-radius: 20px 0px 0px 20px;
	border: 1px solid #73a6c9 ;
	 background:#F2E8E8;
	 height:600px;
	 width:970px;
	 box-shadow:8px 8px 8px #505258 ;
	 overflow-y:scroll;
	
	
}
.f
{
	 background:#999966;
	 height:150px;
}