body
{
margin-left:0px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
}
.header
{
	background:#aacdef;
	height:100px;
	
		font-family:verdana;
}
.search
{
	
	height:80px;
	max-width:600px;
    margin-bottom:0px;
	padding-top:10px;
	padding-left:5px;
	
	

}

.nav
{
	

	 background:#abbdef;
	max-width:1600px;
    max-height:275px;
	margin-top:30px;
	padding-top:5px;
	padding-left:0px;
	padding-bottom:50px;
	color:#5F9EA5;
}
.navi
{
	width:100%;
}

.wrapper
{   padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
	padding-top:20px;
	
	 background:#F2E8E8;
	 height:800px;
}
.wrapperone{
	 background:#EFE6F9;
	 height:700px;
	 width:1000px;
	 border: 1px solid #EFE6F9  ;
    border-radius: 20px 20px 0px 0px;
	padding-top:20px;
	padding-left:150px;
	padding-right:150px;
	padding-bottom:5px;
	overflow:hidden;
	margin-left:100px;
	margin-right:75px;
	box-shadow:10px 10px 10px #505258 ;

}
.sub
{
	 float:left;

}

.reset
{
	float:left;
	margin-left:400px;

}
.f
{
	 background:#999966;
	 height:150px;
}

.mySlides 
{
	margin:auto;
	}
.w3-btn
{
  font-size:10px;
 
  } 
 .w3b
 {
  font-size:5px;
 }  
